html, body{
    min-height: 100%
}

body {
    background-color: #2A2D2D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FDF1E7;
    margin: none;
}

svg{
    background-color: #305555;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2); 
     border-radius: 5px;
    padding: 10px;
    border-radius: 5px;
}

#canvas{
    min-height: 600px;
    min-width: 950px;
}

#tooltip{
    text-align: center;
    font-size: 1.2em;
    visibility: hidden;
    height: auto;
    width: auto;
}