body{
    font-family: 'Bellota', cursive;
}
#container{
position: relative;
text-align: center;
margin-top: 200px;
/* padding: 20px; */
/* border: 1px solid black; */
width:550px;
background-color: white;
}
button{
    font-weight: bolder;
}
#text, #author, #tweet-quote{
    padding: 15px;
    font-weight: bolder;

}
#text, #author{
    font-size: 2em;
}
#new-quote{
    margin-left: 30%;
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: 1.5em;
}
 #author{
  margin-left: 350px;
    clear: both;
}
a{
    text-decoration: none;
    color:#1122ff;
    font-size: x-large;
    font-weight: 900;
}
/* button #new-quote{
    font-weight: bolder;
} */